.btnReview {
  background-color: #1AC0EE;
  color: #151515e3;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  max-width: 100%;
  margin-right: 1rem;
  z-index: 101;
}

.btnReview:hover {
  background-color: #1AC0EE;
  transform: scale(1.03);
  color: white;
}