.container {
  display: flex;
  height: 100vh;
  width: 100%;
  color: white;
}

.left {
  flex: 1;
  border-radius: 0 1rem 1rem 0;
  overflow: hidden;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border-radius: 0 1rem 1rem 0;
  margin-bottom: 2rem;
}

.right h1 {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  margin-top: 8rem;
}

.right p {
  font-size: 1.6rem;
  color: #cfcfcf;
  margin-bottom: 2rem;
  margin-top: 3rem;
}


.right input {
  font-family: 'Poppins-Light';
  background-color: #3d3d3d;
  padding: 1.2rem;
  border-radius: 30px;
  border: none;
  font-size: 1.2rem;
  width: 70%;
  outline: none;
  color: white;
  margin-bottom: 1rem;

}

.right input::placeholder {
  color: #888;
}

.botao button {
  width: 100%;
  max-width: 280px;
  padding: 0.5rem;
  background-color: #00b6e8;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-family: 'Poppins-Bold';
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 2rem;

}

.botao button:hover {
  background-color: #0090dd;
  transform: scale(1.02);
}

.botao button:active {
  transform: scale(0.98);
}

.navbar{
  margin-right: 3rem;
}