.card {
  width: 12rem;
  height: 20rem;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: solid rgb(84, 84, 84) 1px;
  border-radius: 5px;
}

.card:hover {
  transform: scale(0.98);
  border: solid #f9b233 2px;  
}

.bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);  /* escurecida na imagem */
  border-radius: 5px;
}

/* overlay */
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: linear-gradient(transparent, #00000026);
  border-radius: 5px;
}

/* conteúdo em baixo da imagem */
.content {
  position: absolute;
  bottom: 5px;
  left: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
}


.nome {
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;   /* corta texto se for grande */
  text-align: center;
  justify-content: center;
  max-width: 80%;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000005f; /* Fundo escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; /* deixa o modal na frente de quase tudo, menos do aviso do toast */
  padding: 20px;
  backdrop-filter: blur(1px); /* desfoque no fundo */
}

.modalContent {
  background: #151515; /* Fundo do modal */
  color: #fff;
  width: 100%;
  max-width: 45rem;
  max-height: 90vh;
  border-radius: 12px;
  overflow-y: auto; /* scroll se o texto for grande */
  position: relative;
  animation: appear 0.3s ease-out;
  border: 1px solid #393939;
}

.modalImage {
  width: 100%;
  height: 19rem;
  object-fit: cover;
}

.modalh2 h2{
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}

.modalBody {
  padding: 0 2rem;
}

.description {
  line-height: 1.6;
  font-size: 1rem;
  color: #ddd;
  white-space: pre-wrap; /* respeita parágrafos da API */
  text-align: justify;
}

.loadingText {
  text-align: center;
  padding: 40px;
  color: #888;
  font-style: italic;
}

/* Animação de entrada */
@keyframes appear {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.wishlistButton {
  background-color: #f5b402;
  color: #151515e3;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  max-width: 100%;
  margin-right: 1rem;
  z-index: 101;
}

.wishlistButton:hover {
  background-color: #ffc107;
  transform: scale(1.03);
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.fake {
  width: 9rem;
}

.makeReview, .ou {
  display: flex;
  justify-content: end;
  margin-right: 0.6rem;
}

.ou {
  margin-right: 5rem;
  margin-bottom: 1rem;
}