.navbar02 {
    display: flex;
    gap: 7rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    align-items: center;

}

.botoes {
    display: flex;
    gap: 6rem;
    justify-content: right;
    width: 80%;
    align-items: center;
}

.line{
  width: 100%;  
  height: 0.5px;     
  margin: 0 auto;
    background: linear-gradient(
    to right,
    #FFBD2C 50%,    
    #1AC0EE 50%   
  );
}